{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
        {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}
</head>
<body>

{% block header %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="http://bulma.io/images/bulma-logo.png"
                         alt="Bulma: a modern CSS framework based on Flexbox"
                         width="112" height="28">
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
                </a>

                <div class="navbar-burger burger" data-target="navMenuExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'generate_src:index' %}">Get playbook</a>

                    {% for item in menu_items %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">{{ item.role_description }}</a>
                            <div class="navbar-dropdown">
                                {% for role in roles %}
                                    {% if role.category == item %}
                                        <a class="navbar-item" href="{% url 'generate_src:config' pk=role.role_name %}">{{ role.role_description }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for role in roles %}
                        {% if not role.category %}
                            <a class="navbar-item" href="{% url 'generate_src:config' pk=role.role_name %}">{{ role.role_description }}</a>
                        {% endif %}
                    {% endfor %}
                    <a class="navbar-item" href="{% url 'generate_src:configure_global_variables' %}">Global variables</a>
                    <a class="navbar-item" href="{% url 'generate_src:configure_hosts' %}">Hosts</a>

                </div>

                <div class="navbar-end">
                    {% url 'login' as login_url %}
                    {% if login_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">
                            Login
                        </a>
                    {% endif %}
                    {% url 'account_login' as login_url %}
                    {% if login_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">
                            Login (allauth)
                        </a>
                    {% endif %}
                    {% url 'account_signup' as signup_url %}
                    {% if signup_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ signup_url }}">
                            Signup (allauth)
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}

{% block hero %}{% endblock hero %}

<section class="section">
    <div class="container">
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-success">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock messages %}

        {% block content_area %}
            {% block content_title %}{% endblock content_title %}
            {% block content %}{% endblock content %}
        {% endblock content_area %}
    </div>
</section>

{% block modal %}{% endblock modal %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>FTLBerry</strong> by <a href="https://spodlesny.eu">Šimon Podlesný</a>
                </p>
                <p>
                <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
                <strong>Django-Bulma</strong> by <a
                href="http://timonweb.com">Tim Kamanin</a>.
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block javascript %}
    {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
</body>
</html>