{% extends 'bulma/base.html' %}
{% block content %}
<div class="columns">
    <div class="column is-2">
        <aside class="menu">
  <p class="menu-label">
    Files
  </p>
    {% if files %}
        {% for x in files %}
            <ul class="menu-list">
                <li><a href="{% url 'generate_src:detail_config' pk=x.role.role_name slug=x.location|add:x.filename %}">{{ x.location }}{{ x.filename }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
</aside>
    </div>
    <div class="column">
            {% block src_details %}
            {% endblock %}
    </div>
    <div class="column is-2">
        <aside class="menu">
  <p class="menu-label">
    Regexps
  </p>
        <ul class="menu-list">
            {% if regexps %}
                {% for x in regexps %}
                        <li><a href="{% url 'generate_src:regex' role=role.role_name file_name=file.filename regex_name=x.name %}">{% if x.is_global %}<i class="fa fa-globe" aria-hidden="true"></i>{% endif %} {{ x.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>

</aside>
    </div>
</div>
{% endblock %}