{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        {% for errors in form.errors %}
            <div class="notification is-danger">
            <button class="delete"></button>
                {{ errors }}
            </div>
        {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
        } );
    </script>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        <ul id="sortable" class="menu-list">
        <label class="label">Order</label>
            {% if ordered_roles %}
                {% for role in ordered_roles %}
                    <li class="ui-state-default">
                        <a>
                            <span class="icon is-small is-left"><i class="fas fa-arrows-alt-v" aria-hidden="true"></i></span>
                            {{ role.role_description }}
                            <input type="checkbox" name="enabled" value="{{ role.role_name }}" title="Enable?" {% if role.enabled %}checked{% endif %}>
                            <input type="hidden" id="fname" name="order_position" value={{ role.role_name }}>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <input class="button is-info" name="run" type="submit" value="Run playbook locally" />
        <input class="button is-primary" name="build" type="submit" value="Build basic playbook" />

    </form>

    {% if data %}
        <hr>
        {% load static %}
        <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
        <style type="text/css">
            .number{
                background-color: transparent;
                font-size: 1em;
                vertical-align: initial;
                min-width: initial;
                margin-right: initial;
                display: initial;
                padding: initial;
            }
        </style>
        <p>Output:</p>
        <pre><code class="language-bash" id="data_output"> </code></pre>
        <script>setInterval(function(){ $.get("/output", function( data ) { $( "#data_output" ).html( data );}); }, 1000);</script>
        <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
    {% endif %}
{% endblock %}