{% extends "generate_script/config_options.html" %}
{% block src_details %}
<p class="title">Role: {{ role.role_name }}</p>
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{% url 'generate_src:detail_config' pk=role.role_name slug=file.location|add:file.filename %}">
        <span class="icon is-small">
          <i class="fa fa-file" aria-hidden="true"></i>
        </span>
        <span>
            {% if is_final %}
                Original version
            {% else %}
                <u>Original version</u>
            {% endif %}
        </span>
      </a>
    </li>
    <li>
      <a href="{% url 'generate_src:apply_regex' role=role.role_name file_with_location=file.location|add:file.filename %}">
        <span class="icon is-small">
          <i class="fa fa-file-alt" aria-hidden="true"></i>
        </span>
          {% if is_final %}
              <u>Final version</u>
          {% else %}
                Final version
          {% endif %}

      </a>
    </li>
  </ul>
</nav>
<hr>
{% load static %}
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
<style type="text/css">
    .number{
        background-color: transparent;
        font-size: 1em;
        vertical-align: initial;
        min-width: initial;
        margin-right: initial;
        display: initial;
        padding: initial;
    }
</style>

<form action="{% url 'generate_src:save_regex' %}" method="post" id="regex_input">
    <div class="field has-addons">
        {% csrf_token %}
        <input name="role" value="{{ file.role.role_name }}" type="hidden">
        <input name="location" value="{{ file.location}}" type="hidden">
        <input name="filename" value="{{ file.filename}}" type="hidden">
        <div class="control">
            <input name="name" required class=" control input" type="text" placeholder="Name" value="{{ regex.name }}">
        </div>
        <div class="control is-expanded">
            <input name="regex" required class="input" type="text" placeholder="Regex input" value="{{ regex.regex }}">
        </div>
        <div class="control">
            <input name="input" class="input" type="text" placeholder="Value" value="{{ regex.value }}">
        </div>
        <div class="control">
            <input name="is_global" class="checkbox" type="checkbox" placeholder="Global" value="True" {% if regex.is_global %}checked{% endif %}>
        </div>
        <p class="control">
            <button class="button" type="submit">Add regex</button>
        </p>
    </div>
</form>

{% if file.language != "none" %}
<pre><code class="language-{{ file.language }}">{% if not file.binary_data %}{{ file.text_data }}{% endif %}</code></pre>
{% else %}
<pre><code class="language-python">{% if not file.binary_data %}{{ file.text_data }}{% endif %}</code></pre>
{% endif %}
<script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
{% endblock %}