{% extends "generate_script/config_global_variables.html" %}
{% block src_details %}
<p class="title">Global variables</p>
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li>
        <a href=#>
        <span class="icon is-small">
          <i class="fa fa-file" aria-hidden="true"></i>
        </span>
        <span>
            {% if is_final %}
                Original version
            {% else %}
                <u>Original version</u>
            {% endif %}
        </span>
      </a>
    </li>
    <li>
      <a href=#>
        <span class="icon is-small">
          <i class="fa fa-file-alt" aria-hidden="true"></i>
        </span>
          {% if is_final %}
              <u>Final version</u>
          {% else %}
                Final version
          {% endif %}

      </a>
    </li>
  </ul>
</nav>
<hr>
{% load static %}
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
<style type="text/css">
    .number{
        background-color: transparent;
        font-size: 1em;
        vertical-align: initial;
        min-width: initial;
        margin-right: initial;
        display: initial;
        padding: initial;
    }
</style>

<pre><code class="language-{{ file.language }}">{% if not file.binary_data %}{{ file.text_data }}{% endif %}</code></pre>
<script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
{% endblock %}