{% extends 'bulma/base.html' %}
{% block content %}
    <div class="columns">
        <div class="column is-2">
            <aside class="menu">
                <p class="menu-label">
                    Groups:
                </p>
                <ul class="menu-list">
                    {% if groups %}
                         {% for group in groups %}
                        <li>
                            <a href="{% url 'generate_src:configure_hosts' group_name=group.name %}">{{ group.name }}</a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </aside>
        </div>
        <div class="column">
            <p class="title">Group name: <span class="title is-normal">{{ group.name }}</span></p>
            <table class="table is-striped is-fullwidth is-hoverable">
                <tbody>
                {% if hosts %}
                    {% for host in hosts %}
                        <tr>
                            <td class="has-text-left">{{ host.hostname }} : {{ host.port }}</td>
                            {# <td class="has-text-right"><a href="{% url 'generate_src:perform_action' action="delete_host" group_name=group.name host_name=host.hostname %}"><i class="fas fa-minus-circle"></i></a> <a href="#"></a></td>#}
                            <td class="has-text-right">
                            <form action="{% url 'generate_src:perform_action' action="delete_host" group_name=group.name host_name=host.hostname %}" method="post">
                                {% csrf_token %}
                                <button type="submit" style="background:none;border:none;padding:0;outline: none;">
                                    <span class="icon is-small is-left"><i style="color: #DD4A68" class="fas fa-minus-circle"></i></span>
                                </button>
                            </form>
                        </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td class="has-text-left">
                        <form action="{% url 'generate_src:perform_action' action="add_new_host" group_name=group.name%}" method="post">
                            {% csrf_token %}
                            <input class="input" style="width:30em;" type="text"
                                   placeholder="Hostname" name="hostname">:<input
                                class="input" style="width:6em;" type="number" value="22" placeholder="Port" name="post">
                    <td class="has-text-right"><button type="submit"><i class="fas fa-plus"></i> Add new host</button> </td>
                    </form>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}